body {
  font-family: 'Montserrat', sans-serif;
}

.pacificosta-navbar-brand {
  width: 8em;
  color: #fff;
}

.pacificosta-color-1 {
  color: #162944;
}

.pacificosta-color-2 {
  color: #009877;
}

.pacificosta-bg-color-1 {
  background-color: #162944;
  color: #fff;
}

.pacificosta-bg-color-2 {
  background-color: #009877;
  color: #fff;
}

.pacificosta-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pacificosta-card-text h1,
.pacificosta-card-text h2,
.pacificosta-card-text h3,
.pacificosta-card-text h4,
.pacificosta-card-text h5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pacificosta-card-text p {
  margin-left: auto;
}

.pacificosta-card-text p a {
  text-decoration: none;
  color: #fff;
}

.btn-outline-primary {
  color: #009877;
  border-color: #009877;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #009877;
  border-color: #009877;
}

.btn-outline-white {
  color: #fff;
  border-color: #fff;
}

.btn-outline-white:hover {
  color: #009877 !important;
  background-color: #fff;
  border-color: #fff;
}

.btn-lines {
  overflow: hidden;
}

.btn-lines span {
  position: relative;
  display: inline-block;
}

.btn-lines span::before, .btn-lines span::after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 0.3em solid;
  border-color: #009877;
  width: 100vw;
  margin: 0 20px;
}

.btn-lines span::before {
  right: 100%;
}

.btn-lines span::after {
  left: 100%;
}

#pacificosta-navbar {
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#pacificosta-navbar ul li {
  margin-left: 5vw;
  font-weight: 700;
}

#pacificosta-navbar .navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
}

#pacificosta-navbar .navbar-toggler-icon img {
  width: 100%;
}

#pacificosta-hero .carousel-item {
  height: 100vh;
}

#pacificosta-hero .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#pacificosta-hero .carousel-item .carousel-caption img {
  width: 100%;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

#pacificosta-hero .phone-carousel-caption {
  position: absolute;
  bottom: 40vh;
}

#pacificosta-hero .phone-carousel-caption img {
  width: 80%;
  margin-left: 10%;
}

#pacificosta-promotions {
  padding-left: 5vw;
  padding-right: 5vw;
}

#pacificosta-promotions .pacificosta-panel {
  margin: 8vw 0 8vw 0;
  padding: 1vh;
  padding-top: 10vh;
  border-top: 5px solid #009877;
  border-bottom: 5px solid #009877;
  position: relative;
  height: 42.4vw;
}

#pacificosta-promotions .pacificosta-panel .panel-images {
  height: 24vw;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel {
  background-color: #4f4f4f;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  position: relative;
  width: 40vw;
  height: 32vw;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel .pacificosta-promotion-information {
  width: 80%;
  margin-left: 10%;
  margin-top: 12%;
  height: 60%;
  position: absolute;
  top: 0;
  color: #fff;
  border: #fff solid 0.1em;
  border-radius: 0.3em;
  background: rgba(41, 41, 41, 0.089);
  -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel .pacificosta-promotion-information h2 {
  font-weight: 700;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel .pacificosta-promotion-information h2,
#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel .pacificosta-promotion-information p {
  text-shadow: 0 0 1px #000;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel:nth-of-type(3), #pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10vh;
  scale: 0.8;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel:nth-of-type(3) {
  left: 55%;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel:first-of-type {
  right: 55%;
}

#pacificosta-promotions .pacificosta-panel .panel-images .pacificosta-promotion-in-panel:nth-of-type(2) {
  scale: 1;
  position: relative;
  margin: auto;
  z-index: 3;
}

#pacificosta-promotions .pacificosta-panel .panel-images:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 6em;
  border-left: 5px solid #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-images:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 6em;
  border-left: 5px solid #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul {
  position: absolute;
  width: 100%;
  padding: 0;
  bottom: 0;
  list-style: none;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li {
  display: inline;
  margin-inline: 0.5em;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a.panel-option,
#pacificosta-promotions .pacificosta-panel .panel-control ul li a.panel-option-selected {
  border: solid;
  border-color: #009877;
  border-radius: 50%;
  display: inline-block;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a.panel-option-selected {
  background-color: #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a.btn-show-left-option,
#pacificosta-promotions .pacificosta-panel .panel-control ul li a.btn-show-right-option {
  cursor: pointer;
  width: 1em;
  height: 1em;
  margin-inline: 0.5em;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  display: inline-block;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a.btn-show-left-option {
  border-right: 0.8em solid #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a.btn-show-right-option {
  border-left: 0.8em solid #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-control ul li a {
  text-decoration: none;
  width: 1em;
  height: 1em;
}

#pacificosta-promotions .pacificosta-panel .panel-control:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 6em;
  border-left: 5px solid #009877;
}

#pacificosta-promotions .pacificosta-panel .panel-control:after {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  height: 6em;
  border-left: 5px solid #009877;
}

#pacificosta-tours h2,
#pacificosta-tours h4 {
  font-weight: 700;
}

#pacificosta-contact-us {
  background-image: url("../img/contact_us-bg.png");
  padding: 10vh 15vw 10vh 15vw;
}

#pacificosta-contact-us .pacificosta-card-contact {
  border: #fff solid;
  padding: 5vh 1.5vw 5vh 1.5vw;
  background: rgba(255, 255, 255, 0.055);
  -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);
}

#pacificosta-contact-us h1,
#pacificosta-contact-us h2,
#pacificosta-contact-us h3,
#pacificosta-contact-us h4 {
  color: #fff;
  font-weight: 700;
}

#pacificosta-contact-us ul {
  list-style: none;
}

#pacificosta-contact-us ul li {
  color: #fff;
  margin-top: 2vh;
}

#pacificosta-contact-us ul li a {
  text-decoration: none;
  color: #fff;
}

#pacificosta-footer a {
  text-decoration: none;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #162944;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */