$color-1:#162944;
$color-2:#009877;
body {
    font-family: 'Montserrat', sans-serif;
}

#pacificosta-navbar {
    transition: background-color 0.2s ease-out;
    ul {
        li {
            margin-left: 5vw;
            font-weight: 700;
        }
    }
    .navbar-toggler {
        width: 2.5em;
        height: 2.5em;
        padding: 0;
        border-radius: 50%;
        .navbar-toggler-icon {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            }
        }
        &:focus {
            box-shadow: #fff 0 0 0.25rem;
        }
    }
}

#pacificosta-hero {
    .carousel-item {
        height: 100vh;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .carousel-caption {
            img {
                width: 100%;
                max-height: 80vh;
                object-fit: contain;
            }
        }
    }
    .phone-carousel-caption {
        position: absolute;
        bottom: 40vh;
        img {
            width: 80%;
            margin-left: 10%;
        }
    }
}

#pacificosta-promotions {
    padding-left: 5vw;
    padding-right: 5vw;
    .pacificosta-panel {
        $margin_in_x: 8vw;
        $img-width: 40vw;
        $top-space: 10vh;
        margin: $margin_in_x 0 $margin_in_x 0;
        padding: 1vh;
        padding-top: $top-space;
        position: relative;
        height: ($img-width*1.06);
        // border-radius: 5px;
        .panel-images {
            height: $img-width*0.6;
            .pacificosta-promotion-in-panel {
                background-color: #4f4f4f;
                transition-timing-function: ease-out;
                position: relative;
                width: $img-width;
                height: $img-width*0.8;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .pacificosta-promotion-information {
                    // margin: 1vw;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 12%;
                    height: 60%;
                    position: absolute;
                    top: 0;
                    color: #fff;
                    border: #fff solid 0.1em;
                    border-radius: 0.3em;
                    background: hsla(0, 0%, 16%, 0.089);
                    backdrop-filter: blur(0.5em);
                    h2 {
                        font-weight: 700;
                    }
                    h2,
                    p {
                        text-shadow: 0 0 1px #000;
                    }
                }
                &:nth-of-type(3),
                &:first-of-type {
                    position: absolute;
                    z-index: 1;
                    top: $top-space;
                    scale: 0.8;
                }
                &:nth-of-type(3) {
                    left: 55%;
                }
                &:first-of-type {
                    right: 55%;
                }
                &:nth-of-type(2) {
                    scale: 1;
                    position: relative;
                    margin: auto;
                    z-index: 3;
                }
            }
        }
        .panel-control {
            ul {
                position: absolute;
                width: 100%;
                padding: 0;
                bottom: 0;
                list-style: none;
                li {
                    display: inline;
                    margin-inline: 0.5em;
                    a.panel-option,
                    a.panel-option-selected {
                        border: solid;
                        border-color: $color-2;
                        border-radius: 50%;
                        display: inline-block;
                    }
                    a.panel-option-selected {
                        background-color: $color-2;
                    }
                    a.btn-show-left-option,
                    a.btn-show-right-option {
                        cursor: pointer;
                        width: 1em;
                        height: 1em;
                        margin-inline: 0.5em;
                        border-top: 0.5em solid transparent;
                        border-bottom: 0.5em solid transparent;
                        display: inline-block;
                    }
                    a.btn-show-left-option {
                        border-right: 0.8em solid $color-2;
                    }
                    a.btn-show-right-option {
                        border-left: 0.8em solid $color-2;
                    }
                    a {
                        text-decoration: none;
                        width: 1em;
                        height: 1em;
                    }
                }
            }
        }
    }
}

#pacificosta-tours {
    h2,
    h4 {
        font-weight: 700;
    }
}

#pacificosta-contact-us {
    background-image: url("../img/contact_us-bg.png");
    // padding: 10vh 15vw 10vh 15vw;
    .pacificosta-card-contact {
        border: #fff solid;
        // padding: 5vh 1.5vw 5vh 1.5vw;
        background: hsla(0, 0%, 100%, 0.055);
        backdrop-filter: blur(0.5em);
    }
    h1,
    h2,
    h3,
    h4 {
        color: #fff;
        font-weight: 700;
    }
    ul {
        list-style: none;
        li {
            color: #fff;
            margin-top: 2vh;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

#pacificosta-footer {
    a {
        text-decoration: none;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
}

//Another code
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
    color: #fff;
}


/* Color of the links AFTER scroll */

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
    color: #fff;
}


/* Color of the navbar AFTER scroll */

.navbar-scrolled {
    background-color: $color-1;
}


/* An optional height of the navbar AFTER scroll */

.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}


/* decorations */

.pacificosta-border-box-1 {
    position: relative;
    $vertical-border-height: 6em;
    $color-for-border: #009877;
    border-top: 5px solid $color-for-border;
    border-bottom: 5px solid $color-for-border;
    &:before {
        z-index: 0;
        position: absolute;
        content: '';
        width: 100%;
        bottom: 0;
        left: 0;
        height: $vertical-border-height;
        border-left: 5px solid $color-for-border;
        border-right: 5px solid $color-for-border;
    }
    &:after {
        z-index: 0;
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        right: 0;
        height: $vertical-border-height;
        border-left: 5px solid $color-for-border;
        border-right: 5px solid $color-for-border;
    }
}

.pacificosta-border-box-2 {
    position: relative;
    $horizontal-border-height: 6em;
    $color-for-border: #009877;
    border-left: 5px solid $color-for-border;
    border-right: 5px solid $color-for-border;
    &:before {
        z-index: 0;
        position: absolute;
        content: '';
        height: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 5px solid $color-for-border;
        border-top: 5px solid $color-for-border;
        width: $horizontal-border-height;
    }
    &:after {
        z-index: 0;
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        right: 0;
        border-bottom: 5px solid $color-for-border;
        border-top: 5px solid $color-for-border;
        width: $horizontal-border-height;
    }
}

.pacificosta-navbar-brand {
    width: 8em;
    color: #fff;
    // filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.pacificosta-color-1 {
    color: #162944;
}

.pacificosta-color-2 {
    color: #009877;
}

.pacificosta-bg-color-1 {
    background-color: #162944;
    color: #fff;
}

.pacificosta-bg-color-2 {
    background-color: #009877;
    color: #fff;
}

.pacificosta-card-text {
    display: flex;
    align-items: center;
    h1,
    h2,
    h3,
    h4,
    h5 {
        width: fit-content;
    }
    p {
        margin-left: auto;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}

.btn-primary {
    color: #009877;
    background-color: #009877;
    border-color: #009877;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: #162944;
        border-color: #162944;
    }
}

.btn-outline-primary {
    color: #009877;
    border-color: #009877;
    &:hover {
        color: #fff;
        background-color: #009877;
        border-color: #009877;
    }
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
    &:hover {
        color: #009877 !important;
        background-color: #fff;
        border-color: #fff;
    }
}

.btn-lines {
    overflow: hidden;
    span {
        position: relative;
        display: inline-block;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            border-bottom: 0.3em solid;
            border-color: #009877;
            width: 100vw;
            margin: 0 20px;
        }
        &::before {
            right: 100%;
        }
        &::after {
            left: 100%;
        }
    }
}