$color-1: #162944;
$color-2: #009877;
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    h2,
    h4 {
        text-align: center;
        color: $color-2;
    }
}

.b-color-0 {
    background-color: transparent;
}

.b-color-1 {
    background-color: $color-1;
}

.b-color-2 {
    background-color: $color-2;
}

.section-title-1 {
    margin: 6vh auto 0 auto;
    font-size: 5.5vw;
    font-weight: 750;
}

.section-title-2 {
    margin: 0 auto 4vh auto;
    font-size: 3.8vw;
}

.navbar-fixed {
    height: 0;
}

.title-line {
    text-align: center;
    display: flex;
    align-items: center;
    &:before,
    &:after {
        content: " ";
        flex: 1 0 0%;
        height: 1px;
        background: $color-2;
        margin: 0 0.1rem 0 5vw;
    }
    &:after {
        margin: 0 5vw 0 0.1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.intro-background {
    position: relative;
    height: 0;
    z-index: -1;
    img {
        width: 100%;
        height: 100vh;
        margin: 0;
        object-fit: cover;
        object-position: 63% 100%;
    }
}

.intro-information {
    text-align: center;
    height: 100vh;
    img {
        margin-top: 25vh;
        width: 60vw;
    }
    h2 {
        color: aliceblue;
        font-weight: 730;
        font-size: 11vw;
    }
}

.pacificosta-hamb-menu {
    position: fixed;
    width: 60px;
    right: 0;
    bottom: 0;
    margin-bottom: 5vw;
    margin-right: 5vw;
    z-index: 10000;
    img {
        background-color: #ffffff36;
        backdrop-filter: blur(1vw);
        border-width: 0.4vw;
        border-radius: 50px;
        width: 60px;
        margin: 0;
        padding: 0;
    }
    #x-exit-img {
        display: none;
    }
    #h-lines-img {
        display: block;
    }
}

.pacificosta-navbar-1 {
    height: 15vh;
    box-shadow: none;
    background-color: transparent;
    img {
        width: 80vw;
        margin-top: 5vh;
    }
}

.pacificosta-navbar-2 {
    height: 10vh;
    box-shadow: none;
    background-color: $color-1;
    img {
        width: 50vw;
        margin-top: 2vh;
    }
}

#pacificosta-nav-mobile {
    position: fixed;
    color: white;
    background-color: $color-1;
    z-index: 1000;
    top: -110vh;
    width: 100vw;
    height: 100vh;
    padding-bottom: 10vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 8vw;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 2vw;
            padding: 2vw;
            a {
                text-decoration: none;
                color: aliceblue;
                font-weight: 600;
            }
        }
    }
    #pacificosta-letters-nav-img {
        margin-bottom: 5vw;
    }
}

.pacificosta-social-links {
    margin-top: 10vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Section: Come to Ecuador
#pacificosta_come-to-Ecuador {
    $img_width: 70vw;
    $img_height: 70vw;
    $arrow_width: 10vw;
    height: $img_height*1.6;
    #pacificosta_carrousel {
        width: 100%;
        height: 30vh;
        .imgs-to-show {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                // margin-left: auto;
                // margin-right: auto;
            }
            .carrousel-div-left,
            .carrousel-div-center,
            .carrousel-div-right {
                position: absolute;
                margin-top: 2vh;
                background-color: #162944;
                width: $img_width;
                height: $img_height;
            }
            .carrousel-div-left {
                left: 0;
            }
            .carrousel-div-center {
                margin-top: 0;
                $new_img_width: $img_width*1.2;
                $new_img_height: $img_height*1.1;
                width: $new_img_width;
                height: $new_img_height;
                left: 50vw-($new_img_width/2);
                z-index: 10;
            }
            .carrousel-div-right {
                right: 0;
            }
        }
        .arrow-right,
        .arrow-left {
            position: absolute;
            z-index: 15;
            // top: $img_height/2;
            i {
                color: transparent;
                position: absolute;
                width: $arrow_width;
                height: $arrow_width;
                top: $img_height/2;
                background-repeat: no-repeat;
                background-size: $arrow_width $arrow_width;
            }
        }
        .arrow-left {
            left: 6vw;
            height: $arrow_width;
            i {
                background-image: url(../img/arrow-left.svg);
            }
        }
        .arrow-right {
            left: $img_width*1.2;
            height: $arrow_width;
            i {
                background-image: url(../img/arrow-right.svg);
            }
        }
    }
}

//Section: Traveling
#pacificosta_traveling-with {
    .pacificosta-show_traveling {
        margin-top: 3vh;
    }
    .pacificosta_traveling-box {
        $img_w: 95vw;
        height: $img_w;
        img {
            width: 100%;
            height: 90%;
            object-fit: cover;
            border-radius: 15px;
            //filter: grayscale(0.1);
        }
        h4 {
            color: aliceblue;
            text-shadow: 1px 1px 1px #000;
            text-shadow: #162944;
            font-weight: 750;
            height: 0;
            position: relative;
            top: -$img_w/2*1.15;
        }
    }
}

//section: Where to go
//Footer
footer {
    background-color: $color-1;
    color: aliceblue;
    margin-bottom: -3vh;
    text-align: center;
    img {
        width: 20vw;
        margin: 2vh auto 0 auto;
    }
}

@media screen and (min-width: 600px) {
    #pacificosta-letters-nav-img,
    #pacificosta-letters-img {
        width: 70vw;
        margin-top: 10vw;
    }
    #pacificosta-letters-img {
        margin-bottom: 5vw;
    }
    #pacificosta-logo-img {
        width: 60vw;
    }
    header .overlay {
        h2 {
            font-size: 11vw;
        }
    }
}

@media screen and (min-width: 1024px) {
    #pacificosta-letters-nav-img,
    #pacificosta-letters-img {
        width: 50vw;
        margin-top: 4vw;
    }
    #pacificosta-letters-img {
        margin-bottom: 2vw;
    }
    #pacificosta-logo-img {
        width: 25vw;
    }
    header .overlay {
        h2 {
            font-size: 3vw;
        }
    }
}